.lead{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 77%;
    box-sizing: border-box;
  }

@media screen and (max-width: 1140px){ 
    .lead{
      width: 90%;
    }
  }

@media screen and (max-width: 900px){
    .lead{
      width: 100%;
    }
  }