.header{
    display: flex;    
    flex-direction: row; 
    padding: 28px 0 56px;
    min-width: 92.5%;
    max-width: 1184px;
    height: 52px;
    justify-content: space-between;
    margin: 0;
    position: relative;
    align-items: center;
  }

@media screen and (max-width: 1140px){ 
    .header{
      padding-bottom: 48px;
    }
  }

@media screen and (max-width: 568px){
    .header{
      height: 42px;
    }
  }