.cover{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 92.5%;
    height: calc(100vw*0.925*0.625);
    max-height: 740px;
    background-image: url(../../sprint-3-images/cover-trains.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

@media screen and (max-width: 1140px){ 
    .cover{
      width: 100%;
      height: calc(100vw*0.625);
    }
  }

