@font-face{
    src: 
    url(../../russian-travel/Inter-Regular.otf);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

@font-face{
    src: 
    url(../../russian-travel/Inter-Regular.otf);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
}

@font-face{
    src: 
    url(../../russian-travel/Inter-Regular.otf);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
}