.footer{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 0;
    padding: 92px 0 24px;
    width: 92.5%;
    align-items: center;
  }

@media screen and (max-width: 900px){
    .footer{
      width: 93.7%;
    }
  }

@media screen and (max-width: 700px){
    .footer{
      width: 98%;
    }
  }

@media screen and (max-width: 568px){
    .footer{
      flex-direction: column;
      padding: 0px 5% 24px;
      width: 90%;
      align-items: flex-start;
      margin-top: 64px;
    }
  }