.header__lang-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    min-width: 77px;
    margin-top: 13px;
  }

 @media screen and (max-width: 568px){
    .header__lang-links {
      min-width: 62px;
    }
  }